* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#margin {
  margin: 100px;
  margin-top: 50px;
}

.table {
  width: 100%;
  text-align: left;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pub_title {
  border-top: 1px solid black;
}
